body {
    background: #121212;
    color: white;
}

.red {
    background-color: red;
}

.bg-new {
    background: rgba(255, 255, 255, 0.1) !important;
}

.user-card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(255, 255, 255, 0.14);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#bookmark:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 40px solid #121212;
    border-left: 175px solid transparent;
    border-right: 175px solid transparent;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.bookmarks-container {
    margin-top: 100px;
}

.list-group-item {
    background: rgba(255, 255, 255, 0.16);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

.bookmarks-container a {
    color: white;
}

.bookmarks-container a:hover {
    background: #6C757D !important;
    color: white;
    text-decoration: none;
}

.add-bookmark {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #28A745;
    font-size: 20px;
    color: #28A745;
}