.full-page {
  min-height: 300px;
}

.home-carousel {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.main-text {
  padding: 0px 50px;
}

.main-container {
  margin-top: 25px;
}

.card {
  padding: 50px;
}

body {
  background-color: beige;
}